/* Positioning and spacing */
.container {
  position: relative;
  top: 15vh;
  margin-bottom: 17vh;
}

/* Styling for Discord tag */
.discordTagColour {
  color: #573391;
}

/* Styling for region */
.regionColour {
  color: red;
}

/* Reset styles for form elements */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: #fff;
}

/* Reset styles for Firefox focus */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Styling for textarea */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

/* Styling for WebKit input placeholder */
[placeholder]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

[placeholder]:hover::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Styling for Firefox input placeholder */
[placeholder]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

[placeholder]:hover::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

/* Styling for Edge/IE input placeholder */
[placeholder]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

[placeholder]:hover:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}
