<!-- Linking to Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@500&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

<!-- Home Content -->
<div class="homeContent container text-center home-fonts-specifications">
    <div class="w-75 m-auto p-5">
        <!-- Heading -->
        <h2 class="home-fonts-specifications">Welcome to</h2>
        <h1 class="home-fonts-specifications">Gamers Connector!</h1>

        <!-- Description -->
        <p>A platform where you can meet and match with other gamers around the world that best match your personality and your skills</p>
        <br>
        <p>Get started now!</p>

        <!-- Sign up and Login buttons -->
        <div class="float-start w-50">
            <p>Sign up for free</p>
            <button [routerLink]="['/register']" type="button" class="btn btn-outline-success home-fonts-specifications">Sign up</button>
        </div>
        <div>
            <p>Already have an account?</p>
            <button [routerLink]="['/login']" type="button" class="btn btn-outline-danger home-fonts-specifications">Login</button>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
